*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    font-family: "Roboto slab",serif;
}
body{
    background-image: url('img/ad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto slab",serif;
    width: 90%;
    height: 90%;
    margin-top: 100px;
    margin-left: 50px;
    justify-content: center;
    place-items: center;
}
#content{
    align-items: center;
    justify-content: center;
}
h1 , h2{
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
div.icon{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 175px;
}
div .icon button{
    border: none;
    margin-left: 100px;
    background: transparent;
}
div .icon button:hover{
    color:#1dc2df;
    text-shadow: #868686;
}
p{
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-left: 100px;
    margin: 10px;
    font-size: medium;
}
ul{
    align-items: center;
    list-style-type:circle;
    margin-left: 30px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
li{
    margin-bottom: 5px;
    text-shadow:10px 13px 10px -7px black;
}

.cards{
    display: flex;
    width: 100%;
    justify-content: center;
}
.card{
    margin: 25px;
    margin-right: 25px;
    background-color: #fff;
    width: 27.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 10px 13px 10px -7px black;
    transition: all .4s cubic-bezier(0.1,0.8,0,1);
}
.img{
    height: 200px;
    width: 200px;
}
.img-hover{
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 200px;
    position: absolute;
    top: 0;
    transition: 0.2s all else-out;
}
.card1 .img-hover{
    background-image: url("img/d1.jpg");
}
.card2 .img-hover{
    background-image: url("img/d2.jpg");
}
.card3 .img-hover{
    background-image: url("img/d3.jpg");
}
.card4 .img-hover{
    background-image: url("img/d4.jpg");
}
.card5 .img-hover{
    background-image: url("img/d5.jpg");
}
.card6 .img-hover{
    background-image: url("img/d8.jpg");
}
.info{
    z-index: 2;
    padding: 16px 24px  16px 24px;
}
.category{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    color: #868686;
}
.title{
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.info p{
    font-family: sans-serif;
    letter-spacing: 1px;
}
.by{
    font-size: 13px;
    font-family: sans-serif;
}
.author{
    font-weight: 600;
    text-decoration: none;
    color:#ad7d52;
}
.card:hover{
    box-shadow: 10px 30px 18px -8px #10a5ebce;
    transform: scale(1.10);
}
.card:hover.img-hover{
    height: 110%;
    opacity: 0.3;
}
div .service h3{
    text-align: center;
    padding: auto;
    margin-bottom: 20px;
   
}
div .service{
    border-radius: 15px;
    margin: 20px;
    margin-top:120px;
}

div .service div.white {
    width: 550px;
    height: 150px;
    margin: 5px;
    background-color:white;
    box-shadow: 10px 30px 18px -8px #10a5ebce;
    border:5px, #10a5eb;
    float: left;
    margin-bottom: 40px;
    border-radius: 10px;
    transition: .5s;
}
div .service div.blue {
    width: 550px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    background-color: #2B9EB3;
    border: 5px,white;
    color: #fff;
    box-shadow: 10px 30px 18px -8px #d7e2e7ce;
    float: right;
    margin-bottom: 40px;
    transition: .5s;
}
div.ourskill{
    margin-top: 650px;
}
div .service div h2{
    justify-content: center;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 150px;
}
div .service div p{
    letter-spacing: 1px;
    margin-top: 5px;
}
div .service div.blue:hover{
    width: 600px;
    height: 200px;
    transition: .5s;
    box-shadow: 10px 30px 18px -8px #d7e2e7ce;
}
div .service div.white:hover{
    width: 600px;
    height: 200px;
    transition: .5s;
    box-shadow: -10px -30px -18px 8px #d7e2e7ce;
}

div.inn{
    margin: 100px;
    margin-top: 50px;
}
div.con{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 400px;
    padding-bottom: 40px;
    margin-top: 10%;
    border: none;
    margin-left: 400px;
    border-radius: 10px;
    background-color:transparent;
    backdrop-filter: blur(10px);
    box-shadow: 10px 30px 18px -8px #d7e2e7ce;
    transition: 2s;
}
div.con:hover{
    height: 300px;
    width: 600px;
    background-color:transparent;
    backdrop-filter: blur(10px);
    transition: 2s;
}
.fa-phone-volume{
 margin-top: 100px;
 margin-left:-130px;   
}
.fa-location-dot{
    margin-top: 130px;
    margin-left:-110px;   
}
.container{
    display: none;
}
.container1{
    display: none;
}
.form{
    background-image: url(img/my1.jpg);
    background-blend-mode: color;
    margin-left: 100px;
    width: 100%;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(100px);
    box-shadow: 10px 30px 18px -8px #dfe2e4ce;
    transition: 2s;
    display: none;
}

.form h3{
    margin-left: 350px;
    margin-top: 30px;
}
.form form{
    margin: 40px;
    padding: 40px;
    margin-left: 200px;
    
}
.form label{
    text-transform: uppercase;
    margin-right: 40px;
    align-items: center;
    border: #fff;
    text-shadow: #fff;
    font-weight: bold;
}
.form input{
    border: none;
    text-shadow: #fff;
    font-weight: bold;
    border-bottom: 2px solid black;
    background: transparent;
    margin-left: 400px;
}
.form button{
    margin-left: 5px;
    width: 70%;
    margin-top: 10px;
}
.form1{
    align-content: center;
    display: none;
    width: 100%;
}
.form1 label{
    width: 100%;
}
.form1 input{
    background: transparent;
    margin: none;
    margin-bottom: 3px rgb(86, 86, 88);
}
.form1 button{
    box-shadow: 10px 30px 18px -8px #0af4fcce;
    
}
